<!doctype html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
  <link id="loadCSS" nonce="QMFGvY4WP9" rel="preload" href="/css/app.css" as="style">
  <link rel="dns-prefetch" href="https://cdn.polyfill.io">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://unpkg.com">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ .Title -}}</title>
  <meta name="description" content="{{ .Params.description -}}">
  <link rel="canonical" href="{{ index .Params "source" | default .Permalink -}}">

  {{ block "serp" . -}}
  {{ end -}}

  {{ partial "cosmetics.html" . -}}

  {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel -}}" type="{{ .MediaType.Type -}}" href="{{ .Permalink | safeURL -}}">
  {{ end -}}
  {{ if .Params.ampfile -}}
    <link rel="amphtml" href="{{ ref . .Params.ampfile -}}">
  {{ end -}}

  <script nonce="QMFGvY4WP9" src="https://cdn.polyfill.io/v2/polyfill.min.js" async></script>
  <noscript><link nonce="QMFGvY4WP9" rel="stylesheet" href="/css/app.css"></noscript>
</head>
<body class="sans-serif black-80">
  <div id="barba-wrapper">
    <div class="barba-container min-vh-100 flex flex-column">

      <!--{{ partial "debug.html" . -}}-->
      
      {{ partial "header.html" . -}}

      {{ block "main" . -}}
      {{ end -}}

    </div>
  </div>

  <script nonce="QMFGvY4WP9" src="/js/manifest.js" defer></script>
  <script nonce="QMFGvY4WP9" src="/js/vendor.js" defer></script>
  <script nonce="QMFGvY4WP9" src="/js/app.js" defer></script>
  <script nonce="QMFGvY4WP9">
    window.onload = function() {
      document.getElementById('loadCSS').rel = 'stylesheet';
    };
  </script>
  <script nonce="QMFGvY4WP9">
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};
    ga('create', '{{ .Site.GoogleAnalytics }}', 'auto');
    ga('require', 'outboundLinkTracker');
    ga('require', 'cleanUrlTracker');
    ga('require', 'maxScrollTracker');
    ga('require', 'pageVisibilityTracker');
    ga('require', 'urlChangeTracker');
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview');
  </script>
  <script nonce="QMFGvY4WP9" async src="https://www.google-analytics.com/analytics.js"></script>
  <script nonce="QMFGvY4WP9" async src="https://unpkg.com/autotrack@2.3.3/autotrack.js"></script>
</body>
</html>
